<html>
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% endif %}
    </head>

    <body>
        <h1>Hi, {{ current_user.username }}!</h1>
        
        <nav>
            <a href="{{ url_for('index') }}">Главная страница</a>
            <a href="{{ url_for('page1') }}">page1</a>
            <a href="{{ url_for('page2') }}">page2</a>

            {% if current_user.is_anonymous %}
                <a href="{{ url_for('registration') }}">Регистрация</a>
                <a href="{{ url_for('login') }}">Вход</a>               
            {% else %}
                <a href="{{ url_for('logout') }}">Выход</a>
            {% endif %}
        </nav>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="error-messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>  
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}          

        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>