{% extends "base.html" %}

{% block content %}
    <h1>Вход</h1>

    <form action="{{ url_for('login') }}" method="post">
        {{ form.hidden_tag() }}

        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=40) }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>   

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}